.navi_sitelinks_img{
        vertical-align:center;
        margin-right:5px;
}
.navi_sitelinks{
	position:relative;
        width:100%;
        margin:0px;
        height:30px;
        background:transparent;
	text-align:center;
	d
}
.navi_sitelinks ul {
        margin:0px;
        padding:0px;
        list-style:none;
        text-align:center;
}
.navi_sitelinks ul li {
	position:relative;
        
        padding:15px 20px;
        display:block;
        text-decoration:none;
        text-align:center;
        z-index:1000;
        color:#000;
        background:transparent;
	font-size:16px;
	line-height:16px;
	cursor:hand;
	width:auto;
}
.navi_sitelinks ul li:hover {
        background:transparent;
}
.navi_sitelinks ul li ul {
        position:absolute;
        left:0px;
        top:36px;
        padding-top:0px;
        display:none;
        z-index:1000;
        width:1000px;
}
.navi_sitelinks ul li a {
        color:#000;
        text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
}
.navi_sitelinks li a {
        text-decoration: none;
	float:left;
	font-weight : bold;
}
.navi_sitelinks li:hover a {
        color:#FFF;
        display:block;
	font-weight:bold;
}
.navi_sitelinks li li a:hover, .navi_sitelinks li:hover li a:hover {
        color:#FFF;
	font-weight:bold;
}
.navi_sitelinks li:hover li  {
        background:transparent;
        border-top:0px solid #eee;
        padding:0;
}
.navi_sitelinks li:hover li a {
	color:#FFF;
	font-size:10px;
	font-weight:bold;
	padding:3px;
	padding-right:20px;
	text-align:center;
	background:transparent;
	border-left:#333 0px solid;
}
.navi_sitelinks li ul li a {
        padding: 0px 5px;
}
.navi_sitelinks li:hover ul {
        display: block;
}